@CHARSET "UTF-8";
.fubull{
	background-color: #acacac;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	z-index: 3;
	filter: alpha(opacity =50);
	width: 100%;
	height:100%;
	display: none;
}

.title{
	margin-left: 130px;
	
}
.selen{
	margin-top:15px;
	margin-left:200px;
}

#body{
	margin-top:5px;
	border: 1px solid green;
	margin-left: 30px;
	
}

.page{
	margin-left: 30px;
	margin-top: 10px;
}

.report_Dwn{
	
	margin-left:30px
}
.report_uplod{
	margin-left:255px
}

.function{
	margin-top:10px
}

/* #pagem{
	text-decoration:none;
	margin-left:3.6px;
	
} */

#pagem {
COLOR:#565656; TEXT-DECORATION: none
}

#pagem:hover {
COLOR:red; TEXT-DECORATION: underline
}

#pagem:active {
COLOR: #DC241F;TEXT-DECORATION: none
}

#pagem:visited {
COLOR: red;TEXT-DECORATION: none
}



#sum_Page{
	margin-left:65px;
}

.sorry{
	width:160px;
	display: none;
	border: 1px solid #c0c0c0;
	margin-left: 160px;
}
.Butn{
	margin-top:10px;
	margin-left: 50px;
}
.addView,.updatView{
	
	width: 400px;
	height: 150px;
	border:1px solid gray;
	border-radius:10px 10px; 
	background-color:white;
	position: absolute;
	z-index: 10;
	top: 37%;
	left: 41%;

	display: none;
}
.addCont,.updtCont {
	margin-left: 90px;
	margin-top: 10px;
}
.delView{
	border:1px solid gray;
	background-color:white;
	border-radius:10px 10px;
	z-index: 10;
	width: 150px;
	height: 100px;
	position: absolute;
	top: 37%;
	left: 41%;
	display: none;
	
} 
.delCont{
	margin-left: 26px;
	margin-top: 20px;
}
.del_butn{
	margin-top: 13px;
}


.reporUpView{
	width: 320px;
	height: 160px;
	border: 1px solid #c0c0c0;
	border-radius:10px 10px;
	background-color: white;
	position: absolute;
	left: 43%;
	top: 43%;
	display: none;
}

.reporCont{
	margin-left: 20px;
	margin-top: 30px;
}

.repotSub{
	margin-left: 110px;
	margin-top: 20px;
}




